doctype html
html(lang="ru")
    head
        block title
            title Portfolio
        meta(charset="utf-8")
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet" href="./assets/css/foundation.css")
        link(rel="stylesheet" href="./assets/css/main.css")
        link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")
        block map
    body
        block content
        block scripts