extends ../template

include ../common/mixins

block title
    title Portfolio - My Works
block map

    -var  pageId = 1;

block content
    //- include ../common/preloader
    include ../common/message-box
    .main
        include ../common/menu-pop
        include ../common/common-header
        include ../common/works-slider
        .wrap.wrap-comments
            include ../common/works-about
            include ../common/works-contact
            include ../common/footer
block scripts
    script(defer src="./assets/js/works.js")
